flows.json
[
    {
        "id": "6b6a17d3a6b02126",
        "type": "tab",
        "label": "post_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e6f88e46176c171",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "78a8f1d42957319b",
                "2d21f171bd130d3f"
            ]
        ]
    },
    {
        "id": "2d21f171bd130d3f",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "a133419de4b0e96b",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-01",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "78a8f1d42957319b",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato01-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8566cd261d4a4208",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device2/alarm",
        "topic": "device2/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "882bd8422057709e"
            ]
        ]
    },
    {
        "id": "882bd8422057709e",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "2b1bcd6507d9beda",
                "4a3ca7bd290a843c"
            ]
        ]
    },
    {
        "id": "4a3ca7bd290a843c",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "4035bc9cb41b9a91",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-02",
        "info": "",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b1bcd6507d9beda",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato02-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "11c6db6220a0d31e",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device3/button",
        "topic": "device3/button",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "e4145ba7d8ff7eb4"
            ]
        ]
    },
    {
        "id": "e4145ba7d8ff7eb4",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "4d4cc91f2d013580"
            ]
        ]
    },
    {
        "id": "4d4cc91f2d013580",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "5e93e22d70768653",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-03",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "75f842a69e2ac79f",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device4/temperature",
        "topic": "device4/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "8ed72c51ed391168"
            ]
        ]
    },
    {
        "id": "8ed72c51ed391168",
        "type": "json",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "dccb3da16073945c",
                "626c5b5f73d71e42",
                "23eb4565a130f3b2",
                "1717ae26bb8298ba",
                "28c0ebf0e1f1ef43"
            ]
        ]
    },
    {
        "id": "dccb3da16073945c",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "db0ab551f61424a9",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-04",
        "info": "",
        "x": 160,
        "y": 520,
        "wires": []
    },
    {
        "id": "626c5b5f73d71e42",
        "type": "http request",
        "z": "6b6a17d3a6b02126",
        "name": "suricato04-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/garden/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "57d233b03d70da31",
        "type": "inject",
        "z": "6b6a17d3a6b02126",
        "name": "inject_true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "fddd8124c3e4c300",
                "49ab98d2900e762f"
            ]
        ]
    },
    {
        "id": "fddd8124c3e4c300",
        "type": "mqtt out",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "topic": "device4/temp-request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcf414604905f363",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "49ab98d2900e762f",
        "type": "debug",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "52487e330c7651cb",
        "type": "ui_chart",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "3ace94f29e587415",
        "type": "ui_text",
        "z": "6b6a17d3a6b02126",
        "group": "6cb52c32.2d24d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Umidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "23eb4565a130f3b2",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "52487e330c7651cb"
            ]
        ]
    },
    {
        "id": "1717ae26bb8298ba",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "3ace94f29e587415"
            ]
        ]
    },
    {
        "id": "a5720799672ae305",
        "type": "ui_button",
        "z": "6b6a17d3a6b02126",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "49ab98d2900e762f"
            ]
        ]
    },
    {
        "id": "28c0ebf0e1f1ef43",
        "type": "change",
        "z": "6b6a17d3a6b02126",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.place",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "5402779499eb30f8"
            ]
        ]
    },
    {
        "id": "5402779499eb30f8",
        "type": "ui_text",
        "z": "6b6a17d3a6b02126",
        "group": "6cb52c32.2d24d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Place",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "0cc7df2ffb86635f",
        "type": "mqtt in",
        "z": "6b6a17d3a6b02126",
        "name": "device1/alarm",
        "topic": "device1/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9e6f88e46176c171"
            ]
        ]
    },
    {
        "id": "6d1ebdf41c0de833",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/garden/update",
        "info": "",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "8c81d9e3b4de5add",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/alarm/update/suricato01",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "662e28dd4772c9ce",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "/alarm/update/suricato02",
        "info": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "ebf567bfd599d959",
        "type": "comment",
        "z": "6b6a17d3a6b02126",
        "name": "teste",
        "info": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "dcf414604905f363",
        "type": "mqtt-broker",
        "name": "suricato_mqtt",
        "broker": "192.168.1.101",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6cb52c32.2d24d4",
        "type": "ui_group",
        "name": "monitor",
        "tab": "391bb37912505109",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "391bb37912505109",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]