flows.json
[
    {
        "id": "5241ac954ee788c5",
        "type": "tab",
        "label": "Bem vindo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5c7f3ef3757c5ae",
        "type": "tab",
        "label": "post_alarm_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b6e128ce996e30a",
        "type": "tab",
        "label": "post_garden_data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1756d20f51a975d9",
        "type": "tab",
        "label": "get_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dcf414604905f363",
        "type": "mqtt-broker",
        "name": "suricato_mqtt",
        "broker": "192.168.1.101",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6cb52c32.2d24d4",
        "type": "ui_group",
        "name": "Ambiente",
        "tab": "391bb37912505109",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "11710002.55962",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "aa75609e0bfb9f94",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Suricato Home IoT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "391bb37912505109",
        "type": "ui_tab",
        "name": "Quintal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3a0d305f7b96743",
        "type": "comment",
        "z": "5241ac954ee788c5",
        "name": "Bem-vindo ao Micro-serviço Node-red do Suricato IoT",
        "info": "",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "5db7dd68da3a8cd6",
        "type": "json",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "2621d1b4f9555f1e",
                "9767d1cf6bcb8c6d"
            ]
        ]
    },
    {
        "id": "9767d1cf6bcb8c6d",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "e35851528d085c7e",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-01",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "2621d1b4f9555f1e",
        "type": "http request",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato01-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b11e77a612f036eb",
        "type": "mqtt in",
        "z": "b5c7f3ef3757c5ae",
        "name": "device2/alarm",
        "topic": "device2/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "380bde6b5b062846"
            ]
        ]
    },
    {
        "id": "380bde6b5b062846",
        "type": "json",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "f5fa322ff2850232",
                "118dd9dcb6959526"
            ]
        ]
    },
    {
        "id": "118dd9dcb6959526",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "720293851167b4c5",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-02",
        "info": "",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "f5fa322ff2850232",
        "type": "http request",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato02-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato02",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "230ae0178c6eb3c2",
        "type": "mqtt in",
        "z": "b5c7f3ef3757c5ae",
        "name": "device3/button",
        "topic": "device3/button",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "0fc33fbd121259c2"
            ]
        ]
    },
    {
        "id": "0fc33fbd121259c2",
        "type": "json",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "f76a121e0c6a3ccf"
            ]
        ]
    },
    {
        "id": "f76a121e0c6a3ccf",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "2d96b9cd39810ba8",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-03",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0e3c831456e111c",
        "type": "mqtt in",
        "z": "b5c7f3ef3757c5ae",
        "name": "device1/alarm",
        "topic": "device1/alarm",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "5db7dd68da3a8cd6"
            ]
        ]
    },
    {
        "id": "a69c2cc181e1ded4",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "/alarm/update/suricato01",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c253f3a2113d824",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "/alarm/update/suricato02",
        "info": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "ff34b598047637be",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "teste",
        "info": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "0ccfc36fdfbcfcc1",
        "type": "mqtt in",
        "z": "b5c7f3ef3757c5ae",
        "name": "device5/motion",
        "topic": "device5/motion",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 620,
        "wires": [
            [
                "d5c1989d5ba2240b"
            ]
        ]
    },
    {
        "id": "d5c1989d5ba2240b",
        "type": "json",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "4fcef2a31486ec20",
                "8b86d83dc9f777c6",
                "258ad9dbab00c9b5",
                "702b1be840eefa5a",
                "1b62c2f9695683d3"
            ]
        ]
    },
    {
        "id": "4fcef2a31486ec20",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "dd0349525173510f",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-20",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "1b62c2f9695683d3",
        "type": "http request",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato20-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/motion/update/suricato20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe3ff17da86c066",
        "type": "inject",
        "z": "b5c7f3ef3757c5ae",
        "name": "inject_true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "77696f2a5062abcd",
                "31c769b9485d4a53"
            ]
        ]
    },
    {
        "id": "77696f2a5062abcd",
        "type": "mqtt out",
        "z": "b5c7f3ef3757c5ae",
        "name": "device5/motion",
        "topic": "device5/motion-request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcf414604905f363",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "31c769b9485d4a53",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "c0060497ae7d461c",
        "type": "ui_button",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "31c769b9485d4a53",
                "77696f2a5062abcd"
            ]
        ]
    },
    {
        "id": "8b86d83dc9f777c6",
        "type": "change",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-20/motion-place",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.place",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "258f277efacac622"
            ]
        ]
    },
    {
        "id": "258f277efacac622",
        "type": "ui_text",
        "z": "b5c7f3ef3757c5ae",
        "group": "6cb52c32.2d24d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Place",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 860,
        "y": 680,
        "wires": []
    },
    {
        "id": "98f36d7bdb0319c0",
        "type": "comment",
        "z": "b5c7f3ef3757c5ae",
        "name": "/motion/update",
        "info": "",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "258ad9dbab00c9b5",
        "type": "change",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-20/motion-type",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.type",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "702b1be840eefa5a",
        "type": "change",
        "z": "b5c7f3ef3757c5ae",
        "name": "suricato-20/motion-status",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.status",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "4da9a8f6d341b096",
                "12bf40dfe48c19ac",
                "c80799c32343cace"
            ]
        ]
    },
    {
        "id": "4da9a8f6d341b096",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "Feedback1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "12bf40dfe48c19ac",
        "type": "file",
        "z": "b5c7f3ef3757c5ae",
        "name": "motion-status-file",
        "filename": "motion-status-file",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 820,
        "wires": [
            [
                "b42f389a989d5c78"
            ]
        ]
    },
    {
        "id": "b42f389a989d5c78",
        "type": "file in",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "filename": "motion-status-file",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "2f30c3a3e0841e97"
            ]
        ]
    },
    {
        "id": "2f30c3a3e0841e97",
        "type": "debug",
        "z": "b5c7f3ef3757c5ae",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "c80799c32343cace",
        "type": "switch",
        "z": "b5c7f3ef3757c5ae",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "HIGH",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 830,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b93e6aa78b74f548",
        "type": "mqtt in",
        "z": "7b6e128ce996e30a",
        "name": "device4/temperature",
        "topic": "device4/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "4a62fb5e2c3de67d"
            ]
        ]
    },
    {
        "id": "4a62fb5e2c3de67d",
        "type": "json",
        "z": "7b6e128ce996e30a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "3631ca0b158a0b89",
                "bfc35f4cf98ade29",
                "e82200e33757a6ee",
                "40618b8a55f3c4fd",
                "4fa52c48f8c8ae60"
            ]
        ]
    },
    {
        "id": "3631ca0b158a0b89",
        "type": "debug",
        "z": "7b6e128ce996e30a",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "caca8a34c7d2abf6",
        "type": "comment",
        "z": "7b6e128ce996e30a",
        "name": "suricato-11",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "bfc35f4cf98ade29",
        "type": "http request",
        "z": "7b6e128ce996e30a",
        "name": "suricato04-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/garden/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 580,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e24ddda51c5f4472",
        "type": "inject",
        "z": "7b6e128ce996e30a",
        "name": "inject_true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "895fa536ec94f854",
                "cb4fb11cf4ba05fc"
            ]
        ]
    },
    {
        "id": "895fa536ec94f854",
        "type": "mqtt out",
        "z": "7b6e128ce996e30a",
        "name": "",
        "topic": "device4/temp-request",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcf414604905f363",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb4fb11cf4ba05fc",
        "type": "debug",
        "z": "7b6e128ce996e30a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "02a9504369bbd148",
        "type": "ui_chart",
        "z": "7b6e128ce996e30a",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 3,
        "width": 10,
        "height": 10,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e82200e33757a6ee",
        "type": "change",
        "z": "7b6e128ce996e30a",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "02a9504369bbd148"
            ]
        ]
    },
    {
        "id": "40618b8a55f3c4fd",
        "type": "change",
        "z": "7b6e128ce996e30a",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "0f2b9192a1a5d0b6"
            ]
        ]
    },
    {
        "id": "6fa3eeace6b6533c",
        "type": "ui_button",
        "z": "7b6e128ce996e30a",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "cb4fb11cf4ba05fc",
                "895fa536ec94f854"
            ]
        ]
    },
    {
        "id": "4fa52c48f8c8ae60",
        "type": "change",
        "z": "7b6e128ce996e30a",
        "name": "suricato-11/garden",
        "rules": [
            {
                "t": "move",
                "p": "payload.info.place",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "5446de75cd6cc0fd"
            ]
        ]
    },
    {
        "id": "5446de75cd6cc0fd",
        "type": "ui_text",
        "z": "7b6e128ce996e30a",
        "group": "6cb52c32.2d24d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Place",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "69923d64bfbf1051",
        "type": "comment",
        "z": "7b6e128ce996e30a",
        "name": "/garden/update",
        "info": "",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "0f2b9192a1a5d0b6",
        "type": "ui_gauge",
        "z": "7b6e128ce996e30a",
        "name": "",
        "group": "6cb52c32.2d24d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "25a5516236531a67",
        "type": "mqtt in",
        "z": "7b6e128ce996e30a",
        "name": "device6/watering",
        "topic": "device6/watering",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcf414604905f363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "fd36daccc4a44e08"
            ]
        ]
    },
    {
        "id": "fd36daccc4a44e08",
        "type": "json",
        "z": "7b6e128ce996e30a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "9837bc2a3470fdc2",
                "ba0cebdcb24a481f"
            ]
        ]
    },
    {
        "id": "ba0cebdcb24a481f",
        "type": "debug",
        "z": "7b6e128ce996e30a",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "9abac72a4effb3c8",
        "type": "comment",
        "z": "7b6e128ce996e30a",
        "name": "suricato-12-watering",
        "info": "",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "9837bc2a3470fdc2",
        "type": "http request",
        "z": "7b6e128ce996e30a",
        "name": "suricato12-status-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101/alarm/update/suricato12",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 560,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "804899911f4118b9",
        "type": "comment",
        "z": "7b6e128ce996e30a",
        "name": "/garden/update",
        "info": "",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "98a57ac716c17153",
        "type": "debug",
        "z": "1756d20f51a975d9",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "22e1c6e835086c84",
        "type": "json",
        "z": "1756d20f51a975d9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "98a57ac716c17153"
            ]
        ]
    },
    {
        "id": "31b6a97e68b85f85",
        "type": "inject",
        "z": "1756d20f51a975d9",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8bee909ee4f47966",
        "type": "http request",
        "z": "1756d20f51a975d9",
        "name": "suricato-alarms-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/alarm/getAllData/type/Alarm",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "22e1c6e835086c84"
            ]
        ]
    },
    {
        "id": "bb4aa638a0b6aa01",
        "type": "comment",
        "z": "1756d20f51a975d9",
        "name": "/alarm/getAllData/type/Alarm",
        "info": "",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "101123210d86249d",
        "type": "debug",
        "z": "1756d20f51a975d9",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "43e649c5424663c1",
        "type": "json",
        "z": "1756d20f51a975d9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "101123210d86249d"
            ]
        ]
    },
    {
        "id": "62723e51f84dd328",
        "type": "inject",
        "z": "1756d20f51a975d9",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1937aa83b3e20636",
        "type": "http request",
        "z": "1756d20f51a975d9",
        "name": "suricato-alarms-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/alarm/getAllData/type/Garden",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "43e649c5424663c1"
            ]
        ]
    },
    {
        "id": "9c727d06b9fcb8c7",
        "type": "comment",
        "z": "1756d20f51a975d9",
        "name": "/alarm/getAllData/type/Garden",
        "info": "",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "a1ac60a6f4e18c41",
        "type": "debug",
        "z": "1756d20f51a975d9",
        "name": "Feedback1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 620,
        "wires": []
    },
    {
        "id": "af4db5225164abda",
        "type": "json",
        "z": "1756d20f51a975d9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "a1ac60a6f4e18c41"
            ]
        ]
    },
    {
        "id": "695090da347c6457",
        "type": "inject",
        "z": "1756d20f51a975d9",
        "name": "request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "df08415deb31e368"
            ]
        ]
    },
    {
        "id": "df08415deb31e368",
        "type": "http request",
        "z": "1756d20f51a975d9",
        "name": "suricato-motion-get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.101:3000/motion/show/suricato20",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "af4db5225164abda"
            ]
        ]
    },
    {
        "id": "2fe3eb480174209c",
        "type": "comment",
        "z": "1756d20f51a975d9",
        "name": "motion/show/suricato20",
        "info": "",
        "x": 400,
        "y": 500,
        "wires": []
    }
]